.menu{
list-style:none;
 font-family: 'Dancing Script', cursive;
position: absolute;
top:10px;
right:30px;
cursor:pointer;
}

.links{
float:left;
color:darkblue;
padding-top:5px;
padding-right:10px
padding-left:10px;
padding-bottom:5px;
font-size:25px;
}
.links:hover{
background-color:lightblue;
}
body{
  background-color:lightgray;  
}